<div *ngIf="displayValue,else elseBlock" class="panel panel-info small">
    <div class="panel-heading">
        <h4>Information of place</h4>
    </div>
    <div class="panel-body">
        <div class="col-sm-12 top-buffer">
            <!--Row1-->
            <div class="col-sm-2 display-label">
                Place ID :
            </div>
            <div class="col-sm-4 value-box">
                {{displayValue.PlaceId || "-"}}
            </div>
            <div class="col-sm-2 display-label">
                Place Name :
            </div>
            <div class="col-sm-4 value-box">
                {{displayValue.PlaceName || "-"}}
            </div>
        </div>
        <div class="col-sm-12 top-buffer">
            <!--Row3-->
            <div class="col-sm-2 display-label">
                Create Date :
            </div>
            <div class="col-sm-4 value-box">
                {{(displayValue.CreateDate | date:'dd/MM/yyyy') || "-"}}
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <md-progress-bar mode="indeterminate" style="margin-top:50px;"></md-progress-bar>
    View information of place.
</ng-template>